/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
/* icons */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* tailwind */
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom properties */
  --color-accent-dark: #003d21;
  --color-accent-light: #bcd9b8;
  --color-text-bg-green: #00703c;
  --color-text-bg-green-2: #bcd9b8a2;
  --color-text-bg-white: #fcfcfc;

  --font-heading: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-brand: 'Montserrat', sans-serif;

  --border: 0.15rem solid var(--color-accent-dark);
  --border-small: 0.08rem solid var(--color-accent-dark);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;

    list-style: none;
    text-decoration: none;
    /* color: var(--color-text-bg-green); */

    font-family: var(--font-body);
}

button, input {
    margin: 0;
    padding: 0.4rem;
    border: var(--border-small);
    border-radius: 9999em;
    outline: none;
    font-size: inherit;
    background-color: var(--color-text-bg-white);
    color: var(--color-text-bg-green);
    cursor: pointer;
}

a, .material-symbols-outlined {
    cursor: pointer;
}

a:hover {
  color: var(--color-accent-light);
  transition: all 100ms;
}

/* html, body {
    background-color: var(--color-text-bg-white);
    min-width: 100vw;
    min-height: 100vh;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: bold;
}

p, pre{
  font-family: var(--font-body);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-accent-light);
  transition: all 100ms;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  transition: all 100ms;
}

div, img {
    max-width: 100%;
    height: auto;
    background-color: transparent;
}

.hide {
    display: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
    transition: all 100ms;
  }
  button {
    background-color: #f9f9f9;
  }
}