@import url("@/index.css");
/* Quick Note: In React any css is applied globally, so best use classes or ids to style components seperately */

#login-body {
    min-height: 100vh;
    width: 100vw;
    padding: 0 4em 0 4em;
    background-color: var(--color-text-bg-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label, p, a {
    color: var(--color-text-bg-white);
}

a {
    text-decoration: underline;
}

a:hover {
    color: var(--color-accent-light);
}

input {
    width: 100%;
    border: none;
    margin-top: 0.15em;
}

.material-symbols-outlined {
    color: var(--color-text-bg-white);
}

.inpContent {
    margin-top: 0.8em;
}

.passWrap {
    position: relative;
    display: flex;
    align-items: center;
}

.visibilityBtn {
    color: var(--color-text-bg-green);
    position: absolute;
    right: 0.35em;
}

.visibilityBtn:hover {
    color: var(--color-accent-light);
}

.centerWrap {
    display: flex;
    justify-content: center;
}

.inpWrap {
    width: 100%;
    text-align: left;
    justify-self: center;
}

#loginPass {
    padding-right: 2.2em;
}

#loginBtn {
    width: 6em;
    margin: 2em 0 3em 0;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 900;
}

#loginBtn:hover {
    color: var(--color-accent-light);
}

#loginContent {
    max-width: 60vw;
}

#shuttlesync {
    max-width: 60vw;
    height: auto;
}