.authBody {
    min-height: 100vh;
    width: 100vw;
    padding: 0 4em 0 4em;
    background-color: var(--color-text-bg-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authBody label, p, a {
    color: var(--color-text-bg-white);
}

.authBody a {
    text-decoration: underline;
}

.authBody a:hover {
    color: var(--color-accent-light);
    transition: all 100ms;
}

.material-symbols-outlined {
    color: var(--color-text-bg-white);
}

.inpContent {
    margin-top: 0.8em;
    justify-self: center;
}

.inpContent input {
    width: 100%;
    min-width: 25ch;
    max-width: 25ch;
    border: none;
    margin-top: 0.15em;
    &:focus-visible {
		outline: 2px solid var(--color-accent-light);    
		outline-offset: 1px;
	}
}

.userIdInp {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
}

.userIdInp input {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
}

.passWrap {
    position: relative;
    display: flex;
    align-items: center;
}

.visibilityBtn {
    color: var(--color-text-bg-green);
    position: absolute;
    right: 0.35em;
}

.visibilityBtn:hover {
    color: var(--color-accent-light);
    transition: all 200ms;
}

.centerWrap {
    display: flex;
    justify-content: center;
}

.inpWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-self: center;
    align-items: center;
}

.authPass {
    padding-right: 2.2em;
}

.authBtn {
    width: 6em;
    margin: 1.5em 0 1.5em 0;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 900;
    &:focus-visible {
		outline: 2px solid var(--color-accent-light);
		outline-offset: 1px;
	}
}

.guestBtn {
    display: flex;
    align-items: center;
    width: auto;
    gap: 0.5em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-radius: 999em;
    font-size: 1em;
    font-weight: 900;
    background-color: var(--color-text-bg-white);
    &:focus-visible {
		outline: 2px solid var(--color-accent-light);
		outline-offset: 1px;
	}
}

.guestBtn span {
    font-size: 1.6em;
}

.authBtn:hover, .guestBtn:hover {
    color: var(--color-text-bg-white);
    background-color: var(--color-accent-dark);
    transition: all 200ms;
}

.authContent {
    max-width: 60vw;
}

.shuttlesync {
    width: 60vw;
    height: auto;
}