.MainDiv {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.GameDetails {
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}

.GameDetailsHeader {
    align-self: center;
    justify-content: center;
    display: flex;
    gap: 5em;
}
.Btn {
    margin-bottom: 2rem;
}

.Btn, .RegisterBtn {
    width: 20ch;
    align-self: center;
    font-size: 1.1rem;
    color: var(--color-text-bg-white);
    background-color: var(--color-accent-dark);
}

.Btn:hover, .RegisterBtn:hover {
    transition: all 100ms;
    transform: scale(1.1);
    color: var(--color-text-bg-white);
    background-color: var(--color-text-bg-green);
}

.Btn:focus-visible, .RegisterBtn:focus-visible{
    background-color: var(--color-text-bg-green);
}

.GameInfoWrap {
    /* background-color: var(--color-text-bg-green-2); */
    min-width: 80%;
    max-width: 350%;
    padding: 1.5em;
    border: solid 3px var(--color-text-bg-green);
    border-radius: 1em;
}

.GameInfoWrap * {
    color: var(--color-text-bg-green);
}

.GameInfoWrap h1 {
    justify-self: center;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.GameInfoWrap h1 span {
    margin-left: 0.3em;
}

.GameInfoWrap h1 span:hover {
    color: var(--color-accent-light)
}

.GameInfoWrap ul * {
    font-size: 1.1em;
}

.PlayerListsWrap {
    display: flex;
    gap: 5em;
}

.BtnsWrap {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0em;
}