.MainDiv {
    width: 100vw;
    height: auto;
    position: relative;
}

.Content{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    color: var(--color-text-bg-green);
    font-family: var(--font-heading);
    padding: 2rem 0.5rem 1rem 0.5rem;
    width: 100vw;
    height: auto;
}

.Buttons, .ScrollTabs{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.Buttons > input{
    width: 40vw;
    margin: 6rem 0rem 1rem 0rem;
    padding: 1rem;

    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: 900;

    background-color: #00703c5b;
    border: 0px;
    border-radius: 1rem;
    &:hover{
        color: var(--color-text-bg-white);
        background-color: var(--color-accent-dark);
        transition: all 100ms;
    }
    &:focus-visible {
        color: var(--color-text-bg-white);
        background-color: var(--color-accent-dark);
        border: 0px;
		outline: 3px solid var(--color-text-bg-green);
		outline-offset: 1px;
	}
}