.body {
    margin: 2em 5em 0 5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.header h1 {
    font-size: 3rem;
}

.scheduleGameBtn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    color: var(--color-text-bg-green);
    font-family: var(--font-heading);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover{
        color: var(--color-text-bg-white);
        background-color: var(--color-text-bg-green);
        border: 0px;
        outline: 1px solid var(--color-text-bg-green);
        outline-offset: 1px;
        transition: all 100ms;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.tabsWrap {
    display: flex;
    background-color: var(--color-text-bg-green);
    gap: 0.3em;
}

.tabsWrap button {
    color: var(--color-text-bg-white);
    font-size: 1.5em;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0.2em;
    border-radius: 9999em;
}

.tabsWrap button:hover,
.active {
    text-decoration: underline;
    border: none;
}

.tabsWrap button:focus,
.tabsWrap button:focus-visible {
    outline: none;
    box-shadow: none;
    border: none;
}

.gamesTable table {
    width: 100%;
}

.gamesTable {
    max-height: 50vh;
    overflow-y: auto;
    font-size: 1.13em;
    position: relative;
    min-width: 100%;
    border: solid 1px black;
    text-align: center;
}

.gamesTable th:nth-child(1) { width: 20%; }
.gamesTable th:nth-child(2) { width: 20%; }
.gamesTable th:nth-child(3) { width: 30%; }
.gamesTable th:nth-child(4) { width: 15%; }
.gamesTable th:nth-child(5) { width: 15%; }

.gamesTable thead th {
    color: black;
    position: sticky;
    top: 0;
    background-color: var(--color-accent-light);
    z-index: 1;
    font-size: 1.2em;
}

.gamesTable tr {
    color: black;
}

.gamesTable td {
    padding: 0.5em 0 0.5em 0;
}

.gameInfo {
    position: relative;
}

.gameInfo:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-text-bg-white);
}

.gameLink {
    position: absolute;
    inset: 0;
}