.Root {
	margin: 0.25rem 0rem 1rem 0rem;
	min-width: 35vw;
	max-width: 45vw;
	min-height: 15vh;
	max-height: 40vh;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 2px 10px black;
	background-color: #bcd9b8a2;
	--scrollbar-size: 0.6rem;
}

.TabTitle{
	color: var(--color-text-bg-green);
	font-family: var(--font-heading);
	font-size: 1.4rem;
	font-weight: 600;
}

.Viewport {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.Scrollbar {
	display: flex;
	height: 90%;
	align-self: center;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	/* ensures no selection */
	user-select: none;
	/* disable browser handling of all panning and zooming gestures on touch devices */
	touch-action: none;
	padding: 2px;
	background: lightgray;
	transition: background 160ms ease-out;
	&:hover {
		background: gray;
	}
	&[data-orientation="vertical"] {
		width: var(--scrollbar-size);
	}
	&[data-orientation="horizontal"] {
		flex-direction: column;
		height: var(--scrollbar-size);
	}
}

.Thumb {
	flex: 1;
	background: #a1a8a2;
	border-radius: var(--scrollbar-size);
	position: relative;

	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		min-width: 44px;
		min-height: 44px;
	}
}

.Corner {
	background: black;
}

.Text {
	color: var(--color-text-bg-green);
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
}

.Tag {
	color: var(--color-text-bg-green);
	font-size: 1rem;
	line-height: 18px;
	margin-top: 10px;
	border: 1.5px solid var(--color-text-bg-green);
	border-radius: 1rem;
	padding: 0.4rem 0.5rem;
	margin: 1rem 0rem;
}

.Tag:hover {
	color: var(--color-text-bg-white);
	background-color: var(--color-text-bg-green);
}

.NoData {
	margin-top: 1rem;
	font-size: 2rem;
	justify-self: center;
	color: var(--color-text-bg-green);
}